---
layout: home
---

<main class="content">
  <nav class="socials-bar">
    {% for socials in site.socials %}
      <li><a href="{{ socials.href }}"><i data-feather="{{ socials.title }}"></i></a></li>
    {% endfor %}
  </nav>
</main>

<hr />

{% assign has_post = false %} {% for post in site.posts %} {% if post.private ==
true %} {% continue %} {% endif %}
<div class="post-card">
  <a class="title" href="{{site.baseurl}}{{ post.url }}"> {{ post.title }} </a>

  <div class="details">
    <b>{{ post.date | date: "%d %B %Y" }}</b>
    <br />
    {% if post.tags %}
    <b>[</b>
    {% for tag in post.tags %}
    <a href="{{ site.baseurl }}/tags/#{{ tag }}">{{ tag }}</a>{% if forloop.last
    == false %},{% endif %} {% endfor %}
    <b>]</b>
    {% endif %}
  </div>

  <div class="subtitle">{{ post.subtitle }}</div>
</div>
{% if forloop.last == false %}
<hr />
{% endif %} {% assign has_post = true %} {% endfor %} {% if has_post == false %}
<div class="no-post">That's weird... I was sure I put it here 🤔</div>
{% endif %}
