---
layout: default
---

<div class="page-subtitle">
  {% for tag in page.tags %} {% if page.tags.first == tag %}
  <b>[</b>
  {% endif %}
  <a href="{{ site.baseurl }}/tags/#{{ tag }}" title="{{ tag }}">{{ tag }}</a>
  {% if page.tags.last == tag %}
  <b>]</b>
  {% else %} , {% endif %} {% endfor %}
</div>

{{content}}

<script src="https://giscus.app/client.js"
        data-repo="abismoe/blog"
        data-repo-id="R_kgDOGapKcA"
        data-category="Blog Comments"
        data-category-id="DIC_kwDOGapKcM4B__LM"
        data-mapping="pathname"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-theme="{{ site.url }}/css/comments.css"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>